body{
    background: linear-gradient(to left, #cce4f7, #4b8fd2);
    color: Black;
}

.App{
    font-size: 30px;

}

.input-box > input{
    padding: 30px;
    margin-left: 20px;
    
}

.btn-start{
    padding: 15px;
    margin-left: 290px;
    margin-top: 4px

}

